#list{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

#list li{
    margin: 4px;
    width: 290px;
    height: 35px;
    border: 1.5px solid rgb(156, 118, 251);
    padding: 3px;
    border-radius:5px;
}